


@font-face { font-family: 'flow';  src: url( './fonts/sunflower-exta-201903.ttf'  ); unicode-range: U+00000-10fff; }
@font-face { font-family: 'flow';  src: url( './fonts/iosevka-slab-regular.ttf'   ); unicode-range: U+00000-04dff; }
@font-face { font-family: 'flow';  src: url( './fonts/jizura3b.ttf'               ); unicode-range: U+0e000-0efff; }
@font-face { font-family: 'flow';  src: url( './fonts/sunflower-u-cjk-xb.ttf'     ); unicode-range: U+20000-2ffff; }
@font-face { font-family: 'flow';  src: url( './fonts/HanaMinA.ttf'               ); unicode-range: U+2a700-2b73f; }
@font-face { font-family: 'flow';  src: url( './fonts/mktwx.ttf'                  ); unicode-range: U+0f002-0f002; }
@font-face { font-family: 'flow';  src: url( './fonts/mktwx.ttf'                  ); unicode-range: U+0f003-0f003; }

@font-face {
  font-family:    'flow';
  src:            url( './fonts/NotoSerifCJK-Regular.ttc'   );
  unicode-range:
    U+03040-0309f, /* Hiragana */
    U+1b000-1b0ff, /* Kana Supplement */
    U+1b100-1b12f, /* Kana Extended-A */
    U+030a0-030ff, /* Katakana */
    U+031f0-031ff, /* Katakana Phonetic Extensions */
    U+03200-032ff, /* Enclosed CJK Letters and Months */
    U+0ff00-0ffef, /* Halfwidth and Fullwidth Forms */
    U+1b000-1b0ff, /* Kana Supplement */
    U+1b130-1b16f; /* Small Kana Extension */
  }


/*@font-face { font-family: 'flow';  src: url( './fonts/Font Awesome 5 Free-Regular-400.otf'  ); unicode-range: U+0f11c-0f11c; }
@font-face { font-family: 'flow';  src: url( './fonts/Font Awesome 5 Free-Regular-400.otf'  ); unicode-range: U+0f005-0f005; }
*/
html, body {
  background-color:       #9eaeb5;
  height:                 100vh;
  width:                  100vw;
  padding:                0mm;
  margin:                 0mm;
  position:               absolute;
  overflow:               hidden;
  /*font-size:              6mm;*/
  font-family:            'flow';
}

/* thx to https://developer.mozilla.org/en-US/docs/Web/CSS/line-height-step */
:root {

  --mktw-font-size:       6mm;
  --mktw-grid:            8mm;
  /*--mktw-grid-sidebar-wh: 5mm;*/
  /*--mktw-grid-rightbar-wh:  10%;*/
  --mktw-glyph-bgcolor:   rgba( 255, 255, 255, 0.75 );
  --mktw-solarized-base03:    #002b36;
  --mktw-solarized-base02:    #073642;
  --mktw-solarized-base01:    #586e75;
  --mktw-solarized-base00:    #657b83;
  --mktw-solarized-base0:     #839496;
  --mktw-solarized-base1:     #93a1a1;
  --mktw-solarized-base2:     #eee8d5;
  --mktw-solarized-base3:     #fdf6e3;
  --mktw-solarized-yellow:    #b58900;
  --mktw-solarized-orange:    #cb4b16;
  --mktw-solarized-red:       #dc322f;
  --mktw-solarized-magenta:   #d33682;
  --mktw-solarized-violet:    #6c71c4;
  --mktw-solarized-blue:      #268bd2;
  --mktw-solarized-cyan:      #2aa198;
  --mktw-solarized-green:     #859900;
  font-size:              var(--mktw-font-size);
  line-height-step:       var(--mktw-grid);
}

fullheightfullwidth {
  display:                block;
  height:                 100vh;
  overflow:               hidden;
}

div,
content,
fullheightfullwidth,
outergrid,
leftbar,
rightbar,
scroller,
bottombar {
  background-color:       transparent;
  /*outline:                1px solid red;*/
  /*margin:                 10mm;*/
}

content         { display: block; }
leftbar         { display: block; grid-area: ga-leftbar;     }
rightbar        { display: block; grid-area: ga-rightbar;    }
bottombar       { display: block; grid-area: ga-bottombar;   }
lbbar           { display: block; grid-area: ga-lbbar;       }
rbbar           { display: block; grid-area: ga-rbbar;       }

leftbar content {
/*  resize:                 vertical;
  min-height:             10mm;
  max-height:             100mm;
*/
  max-height:             100%;
  min-height:             100%;
  height:                 100%;
}

rightbar {
  overflow:               hidden;
  position:               relative;
}

scroller {
  display:                block;
  position:               relative;
  z-index:                2;
  overflow-y:             scroll;
  height:                 100%;
}

outergrid {
  display:                grid;
  height:                 100vh;
  grid-template-columns:  50% 50%;
  grid-template-rows:     70% 30%;
  grid-template-areas:
    "ga-leftbar      ga-rightbar  "
    "ga-bottombar    ga-bottombar " }

shade {
  height:                 10mm;
  width:                  100%;
  border:                 none;
  position:               absolute;
  left:                   0mm;
  top:                    10mm;
  pointer-events:         none;
}

shade.background {
  /*background-color:       rgba( 250, 255,   0, 0.80 );*/
  background:             linear-gradient(
                          180.0deg,
                          rgba( 246, 240, 110, 1.00 ) 40.5%,
                          rgba( 247, 255,   0, 1.00 ) 100% );
  z-index:                1;
}

shade.foreground {
  z-index:                3;
  background-color:       transparent;
  border:                 1px solid red;
  box-shadow:                   3px 8px 5px 3px rgba( 0, 0, 0, 0.10 ),
                          inset 3px 8px 5px 3px rgba( 0, 0, 0, 0.10 );
}

table#candidates {
  white-space:            nowrap;
  background-color:       transparent;
  border:                 0mm;
  border-collapse:        collapse;
  margin-top:             2em;
  margin-bottom:          24em; /* ### TAINT this value could be smaller or greater dep on app height */
}

#candidates tr,
#candidates td {
  height:                 var(--mktw-grid);
}

#candidates td {
  padding-left:           1mm;
  vertical-align:         middle;
}

#candidates td.glyph {
  font-size:              calc( 2 * var(--mktw-font-size) );
}

#logger {
  font-size:              50%;
  /*line-height:            75%;*/
  background-color:       green;
  height:                 100%;
  max-height:             100%;
  min-height:             100%;
  width:                  100%;
  overflow:               auto;
}

focusframe {
  position:               absolute;
  top:                    0;
  left:                   0;
  border:                 4px solid rgba( 255, 0, 0, 1 );
  /*border-radius:          5mm;*/
  width:                  100px;
  height:                 100px;
  background-color:       transparent;
  pointer-events:         none;
  z-index:                10;
}

#candidates-flexgrid {
  display:                flex;
  flex-direction:         row;
  flex-wrap:              wrap;
  align-content:          flex-start;
  /*justify-content:        space-between;*/
  height:                 100%;
  overflow-y:             scroll;
}

/* ### TAINT in the future we may want to display more than just the glyph */
#candidates-flexgrid div.glyph {
  /* ### TAINT could use more traditional `200%` */
  font-size:              calc( 2.0 * var(--mktw-font-size) );
  margin-left:            calc( 0.4 * var(--mktw-font-size) );
  margin-top:             calc( 0.4 * var(--mktw-font-size) );
  border-radius:          calc( 0.2 * var(--mktw-font-size) );
  height:                 calc( 2.5 * var(--mktw-font-size) );
  background-color:       var(--mktw-glyph-bgcolor);
  min-width:              calc( 2.0 * var(--mktw-font-size) );
}

#candidates-flexgrid div.glyph.cdtsel {
  /* ### TAINT use symbolic colors */
  background-color:   yellow;
  outline:             1px solid red;
}

/* TSR: TranScription Region */
.tsr {
  /* ### TAINT use symbolic colors */
  color:                  black !important;
  background-color:       white !important;
  font-size:              80%;
  border-radius:          1mm;
  padding:                1mm;
  margin-right:           1mm;
  background-image:       linear-gradient( 160deg, rgba( 255, 255, 255, 0.25 ), rgba( 0, 0, 0, 0.25 ) );
  cursor:                 pointer; }

.tsr0 { background-color: transparent;  }
.tsr1 { background-color: yellow                        !important; color: black    !important; }
.tsr2 { background-color: red                           !important; color: black    !important; }
.tsr3 { background-color: orange                        !important; color: blue     !important; }
.tsr4 { background-color: black                         !important; color: blue     !important; }
.tsr5 { background-color: black                         !important; color: orange   !important; }
.tsr6 { background-color: white                         !important; color: black    !important; }
.tsr7 { background-color: blue                          !important; color: orange   !important; }
.tsr8 { background-color: var(--mktw-solarized-green)   !important; color: black    !important; }
.tsr9 { background-color: teal                          !important; color: black    !important; }

.tsr.hilite {
  color:                  black;
  background-color:       yellow; }



